*{box-sizing: border-box}
*{margin:0;padding:0;}
.container{
    width:100vw;
    height:100vh;
    overflow: auto;
    background: linear-gradient(99deg, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.45) 100%);
    position: relative;
}
.container::before{
    content:'';
    background: no-repeat center center;
    background-size:cover ;
    width:100%;
    height:100%;
    filter: blur(3px);
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
}
header{
    position: relative;
    height:91.85vh;
    z-index:2;
    font-size:16px;
}
header .logo{
    background: url("http://pbw0wx370.bkt.clouddn.com/wyy1.png") no-repeat;
    width:103px;
    height:17px;
    line-height:17px;
    background-size: cover;
    position: absolute;
    top:1.4vh;
    left:1.2vh;
    border:1px solid transparent;
    z-index:6;
}
header::before{
    position: absolute;
    top:0;
    left: 44%;
    z-index:5;
    content:'';
    background: url("http://pbw0wx370.bkt.clouddn.com/wyy2.png") no-repeat;
    width:2.65rem;
    height:3.8rem;
    background-size:cover;
}
header .cd-wrapper{
    position: absolute;
    top:10vh;
    left:.87rem;
    background: url("http://pbw0wx370.bkt.clouddn.com/wyy3.png") no-repeat center center;
    width: 8.26rem;
    height:8.26rem;
    background-size:cover;
    z-index:4;
}
header .cd{
    position:relative;
    top:10vh;
    left:.87rem;
    z-index:5;
    background: url("http://pbw0wx370.bkt.clouddn.com/wyy4.png") no-repeat;
    width: 8.26rem;
    height:8.26rem;
    background-size:cover;
}
header .cd-wrapper .cd-inner{
    position:absolute;
    top:19%;
    left:19%;
    z-index:2;
    background:no-repeat center center;
    width: 62%;
    height:62%;
    background-size:cover;
    border-radius: 50%;
}
header .cd::after{
    content:'';
    position:absolute;
    top:40.5%;
    left:40.5%;
    z-index:3;
    background:rgba(0,0,0,0.4) url(http://pbw0wx370.bkt.clouddn.com/wyy5.png) no-repeat;
    width: 19%;
    height: 19%;
    background-size:cover;
    border:1px solid transparent;
    border-radius: 50%;
}
header .cd.deactive::after{
    content:'';
    position:absolute;
    top:40.5%;
    left:40.5%;
    z-index:3;
    background: url("http://pbw0wx370.bkt.clouddn.com/wyy6.png") no-repeat center center;
    width: 19%;
    height: 19%;
    background-size:cover;

}
header .lyrics{
    border:1px solid transparent;
    position: absolute;
    top:calc(10vh + 8.26rem);
    margin-top:20px;
    left:0.9rem;
    padding:10px;
    width:8.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
header .lyrics .title{
    height:40px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}
header .lyrics .title .name{
    line-height:20px;
    font-size: 18px;
    color:#fefefe;
}
header .lyrics .title .nameinner{
    font-size:16px;
    color:#888;
    line-height:20px;
}
header .lyrics .lyric{
    height:120px;
    width:100%;
    text-align: center;
    overflow: auto;
}
header .lyrics .lyric .lines{
    width:100%;
}
header .lyrics .lyric .lines p{
    line-height:40px;
    height:40px;
    font-size:16px;
    color:#888;
}


@keyframes circle {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}
header .cd-wrapper.rotate{
    animation:circle 20s infinite linear;
    animation-play-state: paused;
}
header .cd-wrapper.active{
    animation-play-state: running;
}
main{}
footer{
    overflow: hidden;
    position: absolute;
    z-index:5;
    left:0;
    bottom: 0;
    width:10rem;
    height:8.15vh;
    padding:8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:18px;
}
footer .open{
    height:40px;
    line-height: 40px;
    width:4.64rem;
    color:#d33a31;
    border:1px solid #d33a31;
    background:transparent;
    text-align: center;
    border-radius: 40px;
}
footer .download{
    height:40px;
    line-height:40px;
    width:4.64rem;
    color:#fff;
    border:1px solid #d33a31;
    background:#d33a31;
    text-align: center;
    border-radius: 40px;
}